{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>TreasureGram</title>
		<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	</head>
	<body>
		<nav>
			<img class = "logo" src="{% static 'images/logo.jpg' %}" alt="TreasureGram" />
		</nav>
		<main class="container container--mw700" rule="main">
			<div class="row">
			{% for treasure in treasures %}
				<div class="col-md-4">
					<a href="/{{treasure.id}}/">
						<div class="treasure panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">{{ treasure.name }}</h2>
							</div>
							<div class="treasure-photo">
								<!-- <img src="{{ treasure.img_url }}" height="100">-->
							</div>
						</div>
					</a>
				</div>
			{% if forloop.counter|divisibleby:3 %}
				</div><div class="row">
			{% endif %}
			{% endfor %}
			</div>
		</main>
	</body>
</html>