{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>TreasureGram</title>
		<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top text-center">
			<a href="/">
				<img src="{% static 'images/logo.jpg' %}" alt="TreasureGram" />
			</a>
		</nav>
		<main class="container" rule="main">
			<div class="treasure panel panel-default">
				{% for treasure in treasures %}
				<div class="panel-heading">
					<h2 class="panel-title">{{ treasure.name }}</h2>
				</div>
				<div class="panel-body">
					<table class="treasure-table table">
						<tr>
							<th>
								<h3>Material</h3>
							</th>
							<td>
								{{ treasure.material }}
							</td>
						</tr>
						<tr>							
							<th>
								<h3>Value</h3>
							</th>
							<td>
								{% if treasure.value > 0 %}
									{{ treasure.value }}
								{% else %}
									{{ Unknown }}
								{% endif %}
							</td>
						</tr>
						<tr>
							<th>
								<h3>Location</h3>
							</th>
							<td>
								{{ treasure.location }}
							</td>
						</tr>
					</table>
				</div>
				{% endfor %}
			</div>
		</main>
	</body>
</html>